doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://d3js.org/d3.v4.js')
  body
    block content
    script.
      period="#{period}"
    script(src='/javascripts/chart.js')
    
